
/* ===========================================================
   
GENERAL STYLESHEET BY BYINARY THEME    
   
============================================================*/




body {
    
	font-family: 'Open Sans', sans-serif;
    
	font-size: 14px;
    
	color: #000;
    
	line-height: 16px;
    
	font-weight: 400;


}


h1, h2, h3, h4, h5, h6 {
    
	font-family: 'Open Sans', sans-serif;
    
	line-height: 40px;
}



h1 {
    
	padding-top: 30px;
    
	color: #fff;
    
	font-weight: 800;

}


h5 {
    
	padding-bottom: 30px;


}


.text-center {
    
	text-align: center;


}


.main-top-margin {
    
	margin-top: 120px;

}


.main-low-margin {
    
	margin-top: 55px;

}


a, a:hover {
    
	text-decoration: none;

}


p {
    
	line-height: 30px;
    
	margin-bottom: 5px;

}


.img-margin-product {
    
	margin-top: 30px;

}


.bottam-pad {
    
	padding-bottom: 40px;

}


.space-bottom {
    
	height: 60px;

}

.space-middle {
	height: 30px;
	
}


.space-top {
    
	height: 70px;

}


.main-icon {
    
	font-size: 350px;
    
	color: rgba(102, 110, 197, 1);

}


.head-line {
    
	font-size: 50px;
    
	padding-bottom: 50px;
    
	line-height: 70px;
    
	font-weight: 700;
}


.section-header {
	font-size: 50px;
	font-weight: 700;
	text-align: left;
	margin-left:20%;
}

.section-header-1 {
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	
}

.section-text {
	font-size: 18px;
	text-align: left;
	margin-left:20%;
}
	
/* ==========================================================================
   
COLOR CODES
   
========================================================================== */


.color-red {
    
	color: #ff0000;

}


.color-green {
    
	color: #07BB00;

}


.color-light-blue {
    
	color: #BB00BB;

}


.color-blue {
    
	color: #0052FF;

}


.color-brown {
    
	color: #EB8F2D;

}


.color-black {
    
	color: #000000;

}


.section {
    
	background-color: rgba(102, 110, 197, 1);
    
	color: #fff;

}






/* ===========================================================
   
BOOTSTRAP ELEMENTS CHANGES   
   
============================================================*/

.navbar {
    
	font-weight: 500;
    
	font-size: 14px;

}


.navbar-inverse {
    
	background: transparent;
    
	border-color: transparent;	
}

	.navbar-inverse .navbar-nav > .active > a {
        
		background: #fff;
		color: eb1a1a;
    
}

    
	.navbar-inverse .navbar-brand {
        
		color: #fff;
        
		font-weight: bolder;
        
		font-size: 25px;
        
		font-weight: 900;
        
		letter-spacing: 2px;
    
}

    
	.navbar-inverse :hover .navbar-brand:hover {
        
		color: #fff;
    
}

    
	.navbar-inverse .navbar-nav > li > a {
        
		color: #c2c2c2;
    
}
/* ==========================================================================
   
PARALLAX STYLES
   
========================================================================== */

section {
    
	position: relative;
    
	width: 100% !important;
    
	margin: 0;
    
	padding: 0;
    
	overflow: hidden;

}

    
	section:nth-of-type(1) {
        
		background: #FAFAFA;
        
		height: 704px;
    
}

    
	section:nth-of-type(2) {
        
		background: #FAFAFA;
        
		height: 400px;
    
   
}

	section:nth-of-type(3) {
        
		background: #FAFAFA;
        
		height: 400px;
    
   
}


	section:nth-of-type(4) {
        
		background: #FAFAFA;
        
		height: 400px;
    
   
}


#story-header > div:nth-of-type(1) {
    
	background: url(../img/bg1.jpg) 50% 0 no-repeat fixed;
    
	height: 710px;
    
	position: absolute;
    
	width: 100%;

}


#story-freext > div:nth-of-type(1) {
    
	background: url(../img/bg7.jpg) 50% 0 no-repeat fixed;
    
	height: 400px;
    
	position: absolute;
    
	width: 100%;

}


#story-two > div:nth-of-type(1) {
    
	background: url(../img/bg8.jpg) 50% 0 no-repeat fixed;
    
	height: 400px;
    
	position: absolute;
    
	width: 100%;

}

#story-three > div:nth-of-type(1) {
    
	background: url(../img/bg6.jpg) 50% 0 no-repeat fixed;
    
	height: 400px;
    
	position: absolute;
    
	width: 100%;

}


section article {
    
	position: absolute;
    
	left: 0px;
    
	width: 100%;
    
	z-index: 4;
    
	color: #fff;
    
	font-size: 20px!important;
    
	padding: 20px;

}

    
	section article span {
        
		line-height: 40px!important;
        
		font-weight: 600!important;
    
}


/* Video Test ===========================================
#parallax-video
	position: relative; 
	overflow: hidden; 
	z-index: 1;
	
*/

/* ==========================================================================
   
FOOTER SECTION
   
========================================================================== */



#footer {
    
	background-color: #fff;
    
	color: #696969;
    
	padding: 30px;
}


/* ==========================================================================
   
Salih CSS  
========================================================================== */


.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 1px;
	-webkit-user-select: none;

}
	
.btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	
}

.top-text {
	font-size: 70px; 
	padding: 7px 6px; 
	margin: 0px 0px 11.0933333333333px; 
    /*border-width: 1px; */
    line-height: 10px; 
    white-space: nowrap; 
    min-width: 0px; 
    min-height: 0px; 
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*border: 1px solid #fff;*/
    
}

.intro-text {
	font-size: 55px;  
    border-width: 1px; 
    line-height: 35px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.mid-section-text {
	text-align: center;
	font-size: 38px; 
	text-align:center; 
	color: #000;
}

.section-sub-text {
	font-size: 18px;  
    border-width: 1px; 
    line-height: 40px;
    color: #5a5a5a;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}



.videobg-section{
	position: relative; 
	overflow: hidden; 
	z-index: 1;
}

.vid-overlay {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
	z-index: -2;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0px); 
	opacity: 0.1; 
	background: rgb(0, 0, 0);
}

.vid-bg {
	position: absolute; 
	width: 1280px; 
	height: 800px; 
	top: 0px; 
	left: 0px; 
	z-index: -10; 
	background: url(assets/img/bg1.jpg) 50% 50% / cover;
}

.introimg {
	padding-right: 40px;
	padding-left: 40px;
}

.lpphotos {
	float: middle;
	margin-left: 18%;
}

.thumbnail {
	display: block;
	padding: 0px;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 0px solid rgba(0, 0, 0, 0.04);
	border-radius: 2px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.12);
}

.caption {
	font-size: 11px;
}

.thumbnail .caption {
	padding: 7px;
	color: #333333;
}

h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.roundbox {
	background-color: #fff;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	padding: 22px 22px;
	border-color: #e44d35;
	border-width: 4px;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.fa_icons {
	color: #e44d35;
}

.fa_icons:hover {
	font-size: 35px;
	
}

.roundboxtxt {
	color: #a1a1a1;
}

.roundbox_heading {
	font-size: 25px;
	color: #a1a1a1;
	font-weight: 600;
}

.btn-creator {
	color: #ffffff;
	font-size: 25px;
	letter-spacing: 2px;
	background-color: #222535;
	border-color: #f1f1f1;
	height: 50px;
	width: 80%;
}
.btn-influencer {
	color: #ffffff;
	font-size: 25px;
	letter-spacing: 2px;
	background-color: #f25642;
	border-color: #f1f1f1;
	height: 50px;
	width: 80%;
}

.hr-short {
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #eee;	
}

.hr-short-2 {
	width: 40%;
	margin-top: 10px;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #eee;
	
}

